{"is_source_file": true, "file_id": 125, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "775c32325effccc39446a72068381593", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Runner/Configs/AppInfo.xcconfig", "knowledge_revision": 128}