{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 116, "knowledge_revision": 253, "git_revision": "", "hash": "b9a3215aa87be23e2c31eb6c13ef8d2c", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"253": ""}]}