{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 114, "knowledge_revision": 251, "git_revision": "8803a6af7fcc4b2bc958220b7d9b8d554fa8ef10", "hash": "2b03faed3e462ed0ed348559e4796ed8", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Flutter/Flutter-Debug.xcconfig", "revision_history": [{"251": "8803a6af7fcc4b2bc958220b7d9b8d554fa8ef10"}]}