{"is_source_file": true, "file_id": 135, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "6e164fc6ed6acb30c71fe12e29e49642", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Runner/DebugProfile.entitlements", "knowledge_revision": 135}