{"is_source_file": true, "file_id": 126, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "d36330778580798c0d9c5a5b71501a0f", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Runner/Configs/Release.xcconfig", "knowledge_revision": 126}