{"is_source_file": true, "file_id": 121, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "b945a5051bb1cca2d906ac0be98b629a", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Runner/Info.plist", "knowledge_revision": 120}