{"is_source_file": true, "file_id": 114, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "2b03faed3e462ed0ed348559e4796ed8", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Flutter/Flutter-Debug.xcconfig", "knowledge_revision": 116}