{"is_source_file": true, "file_id": 23, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "6835d1b64d1832cd7eacdc811a0dc9f9", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/ios/Runner/Info.plist", "knowledge_revision": 22}