{"is_source_file": true, "file_id": 124, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "0a7555f820f3e4371d88ec1c339d70ef", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Runner/Configs/Debug.xcconfig", "knowledge_revision": 125}