{"is_source_file": true, "file_id": 116, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "b9a3215aa87be23e2c31eb6c13ef8d2c", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "knowledge_revision": 118}