{"is_source_file": true, "file_id": 13, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "bd6254e10068a9a3539aa9710626ac24", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/ios/Flutter/Debug.xcconfig", "knowledge_revision": 12}