{"is_source_file": true, "file_id": 16, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "66ffb84e16babc3a1ab5d6593560b5ff", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/ios/Flutter/Generated.xcconfig", "knowledge_revision": 17}